<!DOCTYPE html>
<html>
  <head>
  	<meta charset="UTF-8"/>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <form action="" method="post">
    	<table>
    		<tr>
    			<th>用户名</th>
    			<th>性别</th>
    			<th>格言</th>
    		</tr>
    		<tr>
    			<td><input type="text" name="yonghu" id="" value="" /></td>
    			<td><input type="text" name="xingbie" id="" value="" /></td>
    			<td><input type="text" name="geyan" id="" value="" /></td>
    		</tr>
    		<tr>
    			<td colspan="3"><input type="submit" value="提交"/></td>
    		</tr>
    	</table>
    	
    </form>
  </body>
</html>
